/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-header {
    background-color: white;
 
}

h1 {
    font-family: Arial, Helvetica, sans-serif
}

h1, .img-header {
    display: inline-block;
    vertical-align: middle;
}