/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.img-header {
    background-color: white;
 
}


h1, .img-header {
    display: inline-block;
    vertical-align: middle;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}